<%= render 'info', user: current_user %>
<%= render 'new' , book: @book%>

<h1>Books</h1>

<!--バリデーションによるエラーメッセージ設定 -->
<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<% @books.each do |book| %>
<p>Title</p>
<span><%= book.title %></span>

<p>Opinion</p>
<span><%= book.body %></span>

<div>
  <!-- userの詳細画面へのリンク-->
  <%= link_to user_path(book.user) do %>
    <!-- 画像 -->
    <%= image_tag book.user.get_profile_image(100, 100) %>
  <% end %>

  <!-- bookの詳細画面へのリンク-->
  <%= link_to book_path(book) do %>
    <%= book.title %>
  <% end %>
  <%= book.body %>
</div>
<% end %>
